.login-body {
    display: flex;
    justify-content: center;
    background: #f5f5f5;
}

.login-main-container {
    display: flex;
    margin-top: 50px;
    
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    padding: 20px 24px;
}

.login-main-container h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #333;
}

.login-main-container input {
    height: 30px;
    width: 200px;
    margin: 3px;
    padding: 3px;
}

.login-main-container button {
    position: absolute;

    height: 30px;
    width: 209px;
    font-weight: bold;
    bottom: 10px;
    left: 2.5px;

    color: #fff;
    background-color: #8050f2;
    border: none;
    border-radius: 5px;
}

.login-main-container button:hover {
    opacity: 0.8;
    transition: 0.7s;
}

.login-container, .register-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 300px;
    margin: 30px;
}

#loginForm, #registerForm {
    position: relative;
    height: 200px;
}

.login-left {
    width: 40%
}
.login-left-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;   /* 위아래 가운데 정렬 */
  align-items: flex-start;   /* 왼쪽 정렬 */
  gap: 24px;                 /* 로고 / 텍스트 / 이미지 사이 간격 */
}

.login-left .logo img {
  height: 50px;
  width: auto;
}